# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/nbtutor.egg-info
__pycache__
nbtutor/static/*
!nbtutor/static/nbtutor.notebook.js

# python
.eggs
.coverage
.ipynb_checkpoints
/.mypy_cache
/.pytest_cache
/venv
build/
.venv
.nox

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sonarlint
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
npm-debug.log
yarn-error.log
testem.log
TODO.md

# System Files
.DS_Store
Thumbs.db
