.coverage
.DS_Store
.coverage

*.log
*.egg-info
*.pyc
*.xunit.xml

node_modules
sphinx/source/auto
sphinx/source/auto
npm-debug.log*

.eggs/
build/
dist/
screenshots/
nbtutor/static/nbtutor/

__pycache__
\.ipynb_checkpoints
